# Python
__pycache__/
*.py[cod]
.venv/
venv/

*.pyc
*.pt
*.pth
*.ckpt
*.safetensors
checkpoints/

*.csv
*.json
*.lock
*.jsonl
*.parquet
data/
datasets/
compare/
*.doc
*.docx
*.pdf
trials/
.env
wandb/
logs/
